.iLopezPlayer{
}
.iLopezPlayerVideo{
    height: auto;
    width: 100%;
    margin-top: 20px;
}
input[type="range"] {
    -webkit-appearance: none !important;
    background-color: white;
    height: 3px;
    border-radius: 1px;
    width:100%;
    cursor: pointer;
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    width: 15px;
    height: 15px;
    background: #078dd8;
    border-radius: 50%;
}

input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none !important;
    width: 15px;
    height: 15px;
    background: #078dd8;
    border-radius: 50%;
}

#soundButton:focus{
    outline: none;
}
#soundButton{
    display: inline-block;
    outline: none;
}
#soundBar
{
    padding: 0 5px;
    position: relative;
    float: left;
}
#soundBar:focus{
    outline: none;
}
.playerButton{
    background-color: inherit;
    border: none;
    color: white;
    font-size: 24px;
}
.playerButton:hover{
    background: none;
    border-color: inherit;
    color: white;
}
#timeBar{
    margin-bottom: 10px;
    flex-basis : auto;
    flex-grow : 2;
}
#timeBarContainer span:nth-child(1){
    padding-left: 50px;
}
.buttonContainer {
    background: #222222;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-radius: 2px;
    height: 46px;
    padding: 0;
    bottom: 30px;
    opacity: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
.sceneMaker{
    margin-right: 10px;
}
#sceneRow{
    list-style: none;
    margin-top: 20px;
}
span{
    color: white;
}

