body {
    background-color: #AED581;
}

.form {
    float: none;
    margin: 0 auto;
    width: 25%;
    color: #02bfe7;
}

input:focus {
    border: 2px #f9c642;
}

.btn-tight {
    background: none;
    padding: 8px 40px;
    border: 2px solid #02bfe7;
    color: #02bfe7;
}

.btn-tight:hover {
    color: #fad980;
    border-color: #f9c642;
}

#login input {
    margin-top: 10px;
}

#login input[type=submit] {
    margin-top: 20px;
}

#register {
    width: 75%;
}

#register .form-control {
    float: none;
    margin: 0 auto;
    width: 80%;
    color: #212121;
}

#register label {
    color: white;
}

